.newsSlider {
  width: 100%;
  background: var(---900, #fbfbfb);
  padding-bottom: 148px;
  padding-right: 60px;
  padding-left: 60px;
}
.container {
  position: relative;
  max-width: 1392px;
  margin: 0 auto;
}
.title {
  margin-bottom: 58px;
  text-align: center;
  font-family: var(--font-exo_2);
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.leftArrow {
  position: absolute;
  left: -50px;
  top: 30%;
  z-index: 1;
  display: flex;
  width: 102px;
  height: 102px;
  justify-content: center;
  align-items: center;
  border-radius: 90px;
  background: rgba(111, 111, 111, 0.05);
  backdrop-filter: blur(5px);
  margin-left: auto;
  margin-right: auto;
}
.rightArrow {
  position: absolute;
  right: -50px;
  top: 30%;
  z-index: 1;
  display: flex;
  width: 102px;
  height: 102px;
  justify-content: center;
  align-items: center;
  border-radius: 90px;
  background: rgba(111, 111, 111, 0.05);
  backdrop-filter: blur(5px);
}
.carts {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  overflow: hidden;
  margin-bottom: 61px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.breakLines {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.breakLine {
  width: 86px;
  height: 2px;
  background: rgba(193, 193, 193, 1);
  border-radius: 25px;
  transition: all 0.5s;
  cursor: pointer;
}
.activeBreakLine {
  width: 86px;
  height: 2px;
  background: rgba(38, 38, 38, 1);
  border-radius: 25px;
  transition: all 0.5s;
  cursor: pointer;
}
.showMoreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    padding: 15px 36px;
    font-family: var(--font-exo_2);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    border-radius: 13px;
    background: var(---, #b9ff61);
  }
}
//media

@media (max-width: 848px) {
  .title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .newsSlider {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 80px;
  }
  .leftArrow {
    display: none;
  }
  .rightArrow {
    display: none;
  }
  .carts {
    overflow: scroll;
    margin-bottom: 0;
  }
  .breakLines {
    display: none;
  }
  .showMoreBtn {
    button {
      margin-top: 40px;
    }
  }
}
