.category {
  max-width: 1392px;
  margin: 0 auto;
}
.sortMenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.filterButtons {
  display: flex;
  gap: 20px;
  display: none;
}
.categoryCart {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  margin-bottom: 88px;
}
.categoryTitle {
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

@media (max-width: 1280px) {
  .category {
    max-width: 360px;
  }
  .sortMenu {
    padding: 0 16px;
    margin-bottom: 35px;
    .categoryTitle {
        display: none;
    }
  }
  .filterButtons {
      display: block;
      display: flex;
      gap: 25px;
  }
  .categoryCart {
    gap: 0;
    margin-bottom: 25px;
  }
  .filterMenu {
    display: none;
  }
}
