.category {
  max-width: 1392px;
  margin: 0 auto;
}
.sortMenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.filterButtons {
  display: flex;
  gap: 20px;
  display: none;
}
.categoryCart {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  margin-bottom: 88px;
}
.categoryTitle {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.sortList {
  display: block;
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 1;
  width: 236px;
  padding: 20px 16px;
  border-radius: 0px 0px 10px 10px;
  background: var(---800, #f1f1f1);
  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    li {
      color: var(---600, #6c6c6c);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      &:hover {
        color: var(---800, #262626);
      }
    }
  }
}
.sortListArrow {
  margin: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
}
.closeSortMenu {
  display: none;
}
.arrow {
  transform: rotate(180deg);
  transition: all 0.5s ease-in-out;
}
.filterMobileMenuWrapper {
  width: 316px;
  display: flex;
  padding: 20px 16px 20px 20px;
  flex-direction: column;
  gap: 15px;
  border-radius: 16px 0px 0px 16px;
  background: var(---800, #F1F1F1);
}
.filterMobileMenuBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.resetBtn {
  padding: 5px 12px 6px 12px;
  border-radius: 20px;
  background: var(---500, #c1c1c1);
  color: var(---800, #262626);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 1280px) {
  .category {
    max-width: 360px;
  }
  .sortMenu {
    padding: 0 16px;
    margin-bottom: 35px;
    .categoryTitle {
      display: none;
    }
  }
  .filterButtons {
    display: block;
    display: flex;
    gap: 25px;
  }
  .categoryCart {
    gap: 0;
    margin-bottom: 25px;
  }
  .filterMenu {
    display: none;
  }
}
