@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500&display=swap');

/* global styles and resets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: black;
  color: black;
  font-family: 'Exo 2', sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: unset;
}
a:hover {
  color: unset;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: var(--spacing);
}
img {
  display: block;
}
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button {
  cursor: pointer;
  outline: 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 1.8rem;
}
input,
textarea,
select {
  outline: 0;
  resize: none;
}
@media (max-width: 785px) {
  body {
    padding: 0 1rem;
  }
}
