.basket {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background: rgba(38, 38, 38, 0.25);
  position: fixed;
}
.basketWrapper {
  margin-left: 762px;
  margin-top: 154px;
  width: 708px;
  padding: 40px;
  border-radius: 30px;
  background: var(--Color-3, #fff);
}
.basketHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.basketTitle {
  display: flex;
  h1 {
    margin-right: 23px;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
.basketCount {
  color: var(---600, #6c6c6c);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: inherit;
}
.basketTotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basketTotalBonus {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.basketTotalValues {
  width: 297px;
}
.basketTotalTitle {
  color: var(---600, #6c6c6c);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.basketTotalValue {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(---600, #6c6c6c);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.procImage {
  display: flex;
  width: 18px;
  height: 18px;
  justify-content: center;
  align-items: center;
  background: var(---, #b9ff61);
  border-radius: 100px;
}
.basketSum {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basketSumTitle {
  color: var(---600, #6c6c6c);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.basketSumValue {
  color: var(---800, #262626);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.oderBtn {
  padding: 11px 24px;
  border-radius: 200px;
  background: var(---, #b9ff61);
  color: var(---800, #262626);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
}
.basketCarts {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 40px;
}
@media (max-width: 1280px) {
  .basket {
    z-index: 6;
    position: absolute;
    background: none;
  }
  .basketWrapper {
    margin: 0px;
  }
  .basketCarts {
    gap: 28px;
  }
  .basketWrapper {
    width: 100%;
    padding: 20px 16px 40px 16px;
    border-radius: 8px;
  }
  .basketTitle {
    h1 {
      font-size: 18px;
    }
  }
  .basketCount {
    font-size: 14px;
  }
  .closeBasketBtn {
    img {
      width: 14px;
      height: 14px;
      margin: 5px;
    }
  }
  .basketTotal {
    flex-direction: column;
    gap: 20px;
  }
  .basketTotalTitle {
    font-size: 14px;
  }
  .basketTotalValue {
    font-size: 14px;
  }
  .basketSumTitle {
    font-size: 16px;
  }
  .basketSumValue {
    font-size: 16px;
  }
  .oderBtn {
    padding: 8px 20px;
    font-size: 16px;
  }
  .basketTotalValues {
    width: 100%;
  }
}
