.header {
  background: var(---900, #fbfbfb);
  padding: 30px 60px 50px 60px;
}
.container {
  position: relative;
  max-width: 1392px;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: none;
}
.logo {
  color: var(---800, #262626);
  font-family: var(--font-inter);
  font-size: 35px;
  font-weight: 500;
  line-height: normal;
}
.searchBar {
  width: 275px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
  background: var(---900, #fbfbfb);
  input {
    background: var(---900, #fbfbfb);
    &::placeholder {
      color: var(---600, #6c6c6c);
      font-family: var(--font-exo_2);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}
.navBar {
  width: 718px;
  padding: 6px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  background: var(---800, #f1f1f1);
  gap: 20px;
}
.navBlock {
  ul {
    display: flex;
    align-items: flex-start;

    li {
      display: flex;
      padding: 6px 14px 7px 14px;
      justify-content: center;
      align-items: center;
      gap: 2px;
      font-family: var(--font-exo_2);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 23px;
      cursor: pointer;
      &:hover {
        border-radius: 30px;
        background: var(---, #b9ff61);
        transition: all 0.5s;
        .navBtn {
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }
}
.active {
  border-radius: 30px;
  background: var(---, #b9ff61);
  transition: all 0.5s;
  .navBtn {
    transition: all 0.5s;
    transform: rotate(180deg);
  }
}
//
#mainMenu {
  width: 100%;
  background: var(---900, #fbfbfb);
  position: absolute;
  left: 0;
  top: 100px;
  z-index: 4;
  display: flex;
  gap: 54px;
  padding-bottom: 45px;
}
.navItems {
  display: flex;
  gap: 16px;
  button {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: var(---800, #f1f1f1);
    &:hover {
      background: var(---, #b9ff61);
      transition: all 0.5s;
    }
  }
}
.activeItem {
  background: var(---, #b9ff61);
  transition: all 0.5s;
}

.mainMenuItems {
  display: flex;
  flex-direction: column;
  gap: 16px;
  li {
    display: flex;
    gap: 20px;
    width: 368px;
    padding: 13px 20px;
    border-radius: 16px;
    background: var(---800, #f1f1f1);
    color: var(---800, #262626);
    font-family: var(--font-exo_2);
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    white-space: nowrap;
  }
}
.subCategory {
  width: 100%;
}
.accessories {
  display: flex;
  flex-wrap: wrap;
  gap: 66px 110px;
  display: none;
}
.activeAccessories {
  display: block;
  display: flex;
  flex-wrap: wrap;
  gap: 66px 110px;
}
.accessoriesItem {
  display: flex;
  flex-direction: column;
  gap: 16px;

  h2 {
    color: var(---800, #262626);
    font-family: var(--font-exo_2);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    li {
      color: var(---600, #6c6c6c);
      font-family: var(--font-exo_2);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  button {
    display: flex;
    color: var(---800, #262626);
    font-family: var(--font-exo_2);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-items: center;
    gap: 10px;
    img {
      width: 12px;
      height: 12px;
    }
  }
}
.monitors {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.showAllMonitors {
  width: 100%;
  padding: 16px 0px;
  text-align: center;
  border-radius: 16px;
  border: 1.4px solid var(---500, #c1c1c1);
  color: var(---800, #262626);

  /* H7 */
  font-family: var(--font-exo_2);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 110% */
}
.monitorsItems {
  display: flex;
  gap: 110px;
}
.monitorsItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
  h2 {
    color: var(---800, #262626);
    font-family: var(--font-exo_2);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 110% */
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    li {
      color: var(---600, #6c6c6c);
      font-family: var(--font-exo_2);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  button {
    display: flex;
    font-family: var(--font-exo_2);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-items: center;
    gap: 10px;
    img {
      width: 12px;
      height: 12px;
    }
  }
}
.noMonitors {
  display: flex;
  display: none;
}
.activeMonitors {
  display: block;
  display: flex;
}
#activeCategory {
  background: var(---, #b9ff61);
  transition: all 0.5s;
}
.peripheryItems {
  display: flex;
  gap: 66px 110px;
  flex-wrap: wrap;
}
.peripheryItem {
  max-width: 242px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  h2 {
    color: var(---800, #262626);
    font-family: var(--font-exo_2);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 110% */
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    li {
      color: var(---600, #6c6c6c);
      font-family: var(--font-exo_2);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  button {
    display: flex;
    font-family: var(--font-exo_2);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-items: center;
    gap: 10px;
    img {
      width: 12px;
      height: 12px;
    }
  }
}
.networkEquipmentItems {
  display: flex;
  gap: 66px 110px;
  flex-wrap: wrap;
}
.networkEquipmentItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  h2 {
    color: var(---800, #262626);
    font-family: var(--font-exo_2);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 110% */
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    li {
      color: var(---600, #6c6c6c);
      font-family: var(--font-exo_2);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  button {
    display: flex;
    font-family: var(--font-exo_2);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-items: center;
    gap: 10px;
    img {
      width: 12px;
      height: 12px;
    }
  }
}
.navCategories {
  position: relative;
}
.helpMenu {
  position: absolute;
  left: 82px;
  top: 56px;
  z-index: 3;
  padding: 18px;
  border-radius: 20px;
  background: var(---800, #f1f1f1);
  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    li {
      display: flex;
      align-items: center;
      gap: 5px;
      color: var(---800, #262626);
      font-family: var(--font-exo_2);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 23px;
      cursor: pointer;
    }
  }
}
#mobileMenu {
  position: absolute;
  left: 0;
  top: 77px;
  z-index: 5;
  width: 100%;
  padding: 30px 20px;
  background: var(---900, #fbfbfb);
  ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    li {
      display: flex;
      align-items: center;
      gap: 8px;
      font-family: var(--font-exo_2);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .mobileMenuContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

// media
@media (max-width: 1220px) {
  .header {
    // overflow-x: hidden;
  }
  .menu {
    display: block;
  }
  .searchBar {
    width: 275px;
  }
  .navBar {
    max-width: 288px;
  }
  .navBlock {
    display: none;
  }
}
@media (max-width: 900px) {
  .logo {
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
  }
}
@media (max-width: 785px) {
  .header {
    padding: 30px 1rem 80px 1rem;
  }
  .navItems {
    .registrationUser {
      display: none;
    }
    .favUser {
      display: none;
    }
  }
}
@media (max-width: 660px) {
  .header {
    padding-bottom: 90px;
  }

  .navBar {
    max-width: 100%;
    width: 100%;
    padding: 0;
    position: absolute;
    left: 0;
    top: 64px;
    right: 0;
    z-index: 4;
    width: 100%;
  }
  .searchBar {
    background: var(---800, #f1f1f1);
    width: 100%;
    input {
      width: 100%;
      background: var(---800, #f1f1f1);
    }
  }
  .logo {
    font-size: 20px;
  }
  .cart {
    img {
      width: 16px;
      height: 16px;
    }
  }
}
