#mainMenu {
  width: 100%;
  background: var(---900, #fbfbfb);
  position: absolute;
  left: 0;
  top: 100px;
  z-index: 4;
  display: flex;
  gap: 54px;
  padding-bottom: 45px;
}
#activeCategory {
  background: var(---, #b9ff61);
  transition: all 0.5s;
}
.mainMenuItems {
  display: flex;
  flex-direction: column;
  gap: 16px;
  li {
    display: flex;
    gap: 20px;
    width: 368px;
    padding: 13px 20px;
    border-radius: 16px;
    background: var(---800, #f1f1f1);
    color: var(---800, #262626);
    font-family: var(--font-exo_2);
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    white-space: nowrap;
  }
}
.subCategory {
  width: 100%;
}
.accessories {
  display: flex;
  flex-wrap: wrap;
  gap: 66px 110px;
  display: none;
}
.activeAccessories {
  display: block;
  display: flex;
  flex-wrap: wrap;
  gap: 66px 110px;
}
.accessoriesItem {
  display: flex;
  flex-direction: column;
  gap: 16px;

  h2 {
    color: var(---800, #262626);
    font-family: var(--font-exo_2);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    li {
      color: var(---600, #6c6c6c);
      font-family: var(--font-exo_2);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  button {
    display: flex;
    color: var(---800, #262626);
    font-family: var(--font-exo_2);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-items: center;
    gap: 10px;
    img {
      width: 12px;
      height: 12px;
    }
  }
}
.monitors {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.noMonitors {
  display: flex;
  display: none;
}
.activeMonitors {
  display: block;
  display: flex;
}
.monitorsItems {
  display: flex;
  gap: 110px;
}
.monitorsItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
  h2 {
    color: var(---800, #262626);
    font-family: var(--font-exo_2);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; 
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    li {
      color: var(---600, #6c6c6c);
      font-family: var(--font-exo_2);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  button {
    display: flex;
    font-family: var(--font-exo_2);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-items: center;
    gap: 10px;
    img {
      width: 12px;
      height: 12px;
    }
  }
}
.peripheryItems {
  display: flex;
  gap: 66px 110px;
  flex-wrap: wrap;
}
.peripheryItem {
  max-width: 242px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  h2 {
    color: var(---800, #262626);
    font-family: var(--font-exo_2);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 110% */
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    li {
      color: var(---600, #6c6c6c);
      font-family: var(--font-exo_2);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  button {
    display: flex;
    font-family: var(--font-exo_2);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-items: center;
    gap: 10px;
    img {
      width: 12px;
      height: 12px;
    }
  }
}
.networkEquipmentItems {
  display: flex;
  gap: 66px 110px;
  flex-wrap: wrap;
}
.networkEquipmentItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  h2 {
    color: var(---800, #262626);
    font-family: var(--font-exo_2);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 110% */
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    li {
      color: var(---600, #6c6c6c);
      font-family: var(--font-exo_2);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  button {
    display: flex;
    font-family: var(--font-exo_2);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-items: center;
    gap: 10px;
    img {
      width: 12px;
      height: 12px;
    }
  }
}