.cart {
  width: 686px;
  padding: 20px;
  border-radius: 25px;
  background: var(---800, #f1f1f1);
  flex-shrink: 0;
}

.cartImage {
  position: relative;
  margin-bottom: 12px;
}
.cartImg {
  border-radius: 25px;
}
.favIcon {
  position: absolute;
  right: 30px;
  top: 26px;
  z-index: 1;
}
.bonusLabel {
  position: absolute;
  left: 20px;
  top: 23px;
  z-index: 1;
  padding: 5px 12px;
  border-radius: 20px;
  background: var(---, #b9ff61);
  font-family: var(--font-exo_2);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}
.cartCharacteristic {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.cartTitle {
  font-family: var(--font-exo_2);
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.cartPrice {
  font-family: var(--font-exo_2);
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.characteristic {
  display: flex;
  gap: 10px;
  li {
    padding: 7px 16px 8px 16px;
    border-radius: 20px;
    background: var(---900, #fbfbfb);
    color: var(---700, #4e4e4e);
    font-family: var(--font-exo_2);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
