.cart {
  width: 686px;
  padding: 20px;
  border-radius: 25px;
  background: var(---800, #f1f1f1);
  flex-shrink: 0;
}

.cartImage {
  position: relative;
  margin-bottom: 12px;
}
.cartImg {
  border-radius: 25px;
}
.favIcon {
  position: absolute;
  right: 30px;
  top: 26px;
  z-index: 1;
}
.bonusLabel {
  position: absolute;
  left: 20px;
  top: 23px;
  z-index: 1;
  padding: 5px 12px;
  border-radius: 20px;
  background: var(---, #b9ff61);
  font-family: var(--font-exo_2);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}
.cartCharacteristic {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.cartTitle {
  font-family: var(--font-exo_2);
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.cartPrice {
  font-family: var(--font-exo_2);
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}
.characteristic {
  display: flex;
  gap: 10px;
  li {
    padding: 7px 16px 8px 16px;
    border-radius: 20px;
    background: var(---900, #fbfbfb);
    color: var(---700, #4e4e4e);
    font-family: var(--font-exo_2);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.discount {
  position: absolute;
  right: 0;
  bottom: -16px;
  color: var(---500, #c1c1c1);
  font-family: var(--font-exo_2);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: line-through;
}
//media

@media (max-width: 740px) {
  .cart {
    width: 620px;
  }
}
@media (max-width: 660px) {
  .cart {
    width: 328px;
    padding: 12px;
    .cartImg {
      width: 304px;
      height: 294px;
    }
  }
  .bonusLabel {
    left: 15px;
    top: 15px;
    padding: 5px 12px;
    font-size: 12px;
  }
  .favIcon {
    right: 18px;
    top: 18px;
    width: 23px;
    height: 20px;
  }
  .cartCharacteristic {
    h1 {
      font-size: 18px;
    }
    p {
      font-size: 20px;
    }
  }
  .characteristic {
    flex-wrap: wrap;
    gap: 8px;
    li {
      font-size: 14px;
      padding: 7px 16px;
    }
  }
}
